<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><h1 class="title">Inparcel•</h1></div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']"> Rejestracja </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']"> Profil </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              Kontakt
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              O nas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://opensource.org/licenses/MIT">
              Licencje
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Obserwuj nas:</h3>
        <div class="btn-wrapper profile">
          <a
            class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
            href="/"
            target="_blank"
          >
            <i class="fab fa-twitter"> </i>
          </a>
          <a
            class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
            href="/"
            target="_blank"
          >
            <i class="fab fa-facebook-square"> </i>
          </a>
          <a
            class="btn btn-icon btn-neutral btn-round btn-simple"
            href="/"
            target="_blank"
          >
            <i class="fab fa-dribbble"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2022 Copyright
  </div>
  <div class="text-center p-3">
    Version:
    <a class="text-white">0.70 Alpha</a>
  </div>
  <!-- Copyright -->
</footer>
