<div class="parcel-add-section">
  <form [formGroup]="createParcelForm" (ngSubmit)="createParcel()">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="d-grid">
                  <button id="form-submit" class="btn btn-primary submit">
                    Wysyłam
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                <p class="send-failed-text" *ngIf='this.isError' >Nadanie nie powiodło się.</p>
              </div>
              <div class="fm-menu">
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="card-body">
              <h5 class="mb-0 text-primary font-weight-bold">
                <div>
                </div>
              </h5>
              <p class="mb-0 mt-2"><span class="text-secondary" >Wielkość przesyłki</span>
                <span class="float-end text-primary">
                  <select [formControlName]="'parcelType'" [(ngModel)]="pickedEnumPrice">
                    <option disabled>Wybierz rozmiar paczki</option>
                  <option *ngFor="let name of parcelTypes" [value]="name">{{ParcelType2LabelMapping[name]}}</option>
                  </select>
                </span>
              </p>
              <div class="progress mt-3" style="height:7px;">
              </div>
              <div class="mt-3">
                <h4><p class="mb-3 font-weight-bold">Do zapłaty: {{pickEnum()}} PLN</h4>
              </div>
              <div class="d-flex align-items-center">
                <div class="fm-file-box bg-light-primary text-primary"><i class="bx bx-image"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="card">
            <div class="card-body">
              <div class="fm-search">
                <div class="mb-0">
                  <h2 class="section-title">Dane nadawcy </h2>
                  <div class="input-group input-group-lg">
                    <div class="col-sm-12 col-lg-12">
                      <div class="input-group">
                        <input type="text" [formControlName]="'firstName'" id="firstName"
                               class="form-control"
                               name="firstName"
                               placeholder="Imię" required="">
                        <input type="text" [formControlName]="'lastName'" id="lastName"
                               class="form-control" name="lastName"
                               placeholder="Nazwisko" required="">
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                      <div class="input-group">
                        <input type="text" [formControlName]="'senderEmail'"
                               placeholder="Email nadawcy" required=""
                               id="email" class="form-control" name="email">
                        <input type="text" [formControlName]="'senderTelephone'"
                               placeholder="Telefon nadawcy" required=""
                               id="sender_telephone" class="form-control"
                               name="sender_telephone">
                      </div>
                    </div>
                  </div>
                </div>
                <h2 class="section-title">Dane odbiorcy </h2>
                <div class="input-group input-group-lg">
                  <div class="col-sm-12 col-lg-12">
                    <div class="input-group">
                      <input name="recipientFirstName" type="text" [formControlName]="'recipientFirstName'"
                             id="recipientFirstName"
                             class="form-control"
                             placeholder="Imię" required="">
                      <input name="recipientLastName" type="text" [formControlName]="'recipientLastName'"
                             placeholder="Nazwisko" required=""
                             class="form-control"
                             id="recipientLastName">
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-12">
                    <div class="input-group">
                      <input name="recipientEmail" type="text" [formControlName]="'recipientEmail'"
                             placeholder="Email odbiorcy"
                             class="form-control"
                             required="" id="recipientEmail">

                      <input type="text" [formControlName]="'recipientTelephone'"
                             placeholder="Telefon odbiorcy" required=""
                             class="form-control"
                             name="recipientTelephone"
                             id="recipientTelephone">
                    </div>
                  </div>
                </div>
                <div class="input-group input-group-lg">
                  <div class="col-sm-12 col-lg-12">
                    <div class="input-group">
                      <input type="text" [formControlName]="'recipientCity'" placeholder="Miasto" required=""
                             class="form-control" name="recipientCity"
                             id="recipientCity">
                      <input type="text" [formControlName]="'recipientPostalCode'" placeholder="Kod pocztowy"
                             id="postalCode" class="form-control"
                             name="postalCode">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-12">
                  <input type="text" [formControlName]="'recipientStreet'" placeholder="Ulica" required=""
                         id="street" class="form-control"
                         name="street">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
