<section class="routes-section">
    <div class="hello">
         <h1>Przyjęte przesyłki użytkownika {{username}}</h1>
    </div>
  <table class="table">
    <thead>
    <tr>
      <th class="text-center">Kod przesyłki</th>
      <th>Użytkownik</th>
      <th>Miasto</th>
      <th>Oddział</th>
      <th>Kurier</th>
      <th class="text-right">Data wejścia</th>
      <th class="text-right">Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let route of routes">
      <td class="text-center"> {{route.parcel.id}}</td>
      <td>{{route.user.firstName}}</td>
      <td>{{route.user.depot.city}}</td>
      <td>{{route.user.depot.depotCode}}</td>
      <td>{{route.supplier.supplierCode}}</td>
      <td class="text-right"> {{route.created}}</td>
      <td class="td-actions text-right">
        <!-- Information about specific parcel will be implemented in future stories -->
        <button type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
          <i class="tim-icons icon-single-02"></i>
        </button>
        <!-- Editing will be implemented in future stories -->
        <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm">
          <i class="tim-icons icon-settings"></i>
        </button>
        <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm"
                (click)="deleteRouteByParcelId(route.parcel.id)">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</section>


