<div class="wrapper">
  <form class="form" method="post" [formGroup]="createRerouteForm" (ngSubmit)="sendInformation()">
    <div class="alerts" id="alert">
      <alert
        class="alert-with-icon"
        [type]="'success alert-with-icon'"
        [dismissible]="true"
        *ngIf="shouldShowSuccessAlert"
      >
        <span class="tim-icons icon-bell-55" data-notify="icon"> </span>
        <span>
          Wysłano wiadomość do - <b>{{this.rerouteRequest.email}}</b> z tokenem do edycji danych przesyłki!
    </span>
      </alert>
    </div>
  <div class="page-header">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="card card-register">
              <div class="card-header">
                <img class="card-img-bottom" src="/assets/img/square-purple-1.png" alt="Card image">
                <h5 class="card-title text-white">Generuj token</h5>
              </div>
              <div class="card-body">
                  <div class="input-group"
                       [ngClass]="{ 'input-group-focus': focus === true }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"></i>
                      </div>
                    </div>
                    <input type="email" class="form-control" placeholder="Kod przesyłki"
                           [formControlName]="'parcelId'"
                           (focus)="focus = true"
                           (blur)="focus = false"
                    >
                  </div>
                  <div class="input-group"
                       [ngClass]="{ 'input-group-focus': focus2 === true }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"></i>
                      </div>
                    </div>
                    <input type="email" placeholder="Email nadawcy" class="form-control"
                           [formControlName]="'email'"
                           (focus)="focus2 = true"
                           (blur)="focus2 = false"
                    >
                  </div>
                <div class="form-check text-left">
                  <label class="form-check-label">
                    Masz już token? Przejdź
                    <a (click)="redirectToRerouteCreatePage()"><b class="text-primary">tutaj</b></a>.
                  </label>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-info btn-round btn-lg submit">Wyślij link do edycji</button>
              </div>
              <alert
                class="alert-with-icon"
                [type]="'warning alert-with-icon'"
                [dismissible]="true"
                *ngIf="isError"
              >
                <span class="tim-icons icon-bulb-63" data-notify="icon"> </span>
                <span>
                      <b> Błąd! - </b> Nieprawidłowy kod przesyłki lub e-mail.
                    </span>
              </alert>
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div id="square1" class="square square-1"></div>
        <div id="square2" class="square square-2"></div>
        <div id="square3" class="square square-3"></div>
        <div id="square4" class="square square-4"></div>
        <div id="square5" class="square square-5"></div>
        <div id="square6" class="square square-6"></div>
      </div>
    </div>
  </div>
  </form>
</div>
