<div class="user-profile-header">
  <div class="container align-items-center" *ngFor="let info of users">
    <div class="row">
      <div class="col-lg-auto col-md-auto">
        <h1 class="profile-title text-left"></h1>
        <p class="text-on-back">{{info.username}}</p>
        <p class="profile-description">
        </p>
      </div>
      <div class="col-lg-auto col-md-auto">
        <div class="card card-coin card-plain">
          <div class="card-body">
            <h4 class="title">{{info.firstName}} {{info.lastName}}</h4>
            <tabset
              class="nav-tabs-warning justify-content-center tab-subcategories"
            >
              <tab heading="Profil">
                <div class="table-borderless">
                  <table class="table tablesorter" id="plain-table">
                    <thead class="text-warning">
                    <tr>
                      <th class="header">Imię</th>
                      <th class="header">Nazwisko</th>
                      <th class="header">E-mail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{info.firstName}}</td>
                      <td>{{info.lastName}}</td>
                      <td>{{info.email}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </tab>
              <tab heading="Departament">
                <div class="table-borderless">
                  <table class="table tablesorter">
                    <thead class="text-danger">
                    <tr>
                      <th class="header">Oddział</th>
                      <th class="header">Miasto</th>
                      <th class="header">Ulica</th>
                      <th class="header">Kraj</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{info.depot.depotCode}}</td>
                      <td>{{info.depot.city}}</td>
                      <td>{{info.depot.street}}</td>
                      <td>{{info.depot.country}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
