<section class="section">


  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
           *ngFor="let depot of depots">
        <div class="features-item">
          <div class="features-icon">
            <h2>{{depot.depotCode}}</h2>
            <img src="/assets/images/features-icon-2.png" alt="">
            <h4>{{depot.city}}, {{depot.country}}</h4>
            <p>{{depot.street}}</p>
            <a href="" class="main-button btn-warning">
              Kontakt
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
