<section class="section">
  <div class="information">
    <h1>Nasze oddziały</h1>
  </div>
  <div class="row">
  <div class="col-md-3" *ngFor="let depot of depots">
    <div class="card card-coin card-plain">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="text-uppercase">{{depot.city}}</h4>
            <hr class="line-warning" />
          </div>
        </div>
        <div class="row">
          <ul class="list-group">
            <li class="list-group-item">{{depot.street}}</li>
            <li class="list-group-item">{{depot.country}}</li>
          </ul>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-warning btn-simple">Kontakt</button>
      </div>
    </div>
  </div>
  </div>
</section>

