.route-find-section {
  margin-bottom: 20%;
}
.card-register{
  margin-top: 30%;
  margin-left: 50%;
}
.parcel-find {
  color: white;
}
.card-register .card-header .card-title {
  position: relative;
  font-size: 5em;
  font-weight: 900;
  color: white;
  text-transform: lowercase;
  margin-left: -5px;
  z-index: 1;
}
