<section class="section" id="testimonials">
  <div class="alerts" id="alert">
  <alert
    class="alert-with-icon"
    [type]="'success alert-with-icon'"
    [dismissible]="true"
    *ngIf="!isError && !isEmpty"
  >
    <span class="tim-icons icon-bell-55" data-notify="icon"> </span>
    <span>
      <b> Paczka znaleziona - </b> Poniżej znajduje się trasa Twojej przesyłki
    </span>
  </alert>
    <alert
      class="alert-with-icon"
      [type]="'warning alert-with-icon'"
      [dismissible]="true"
      *ngIf="!isError && isEmpty"
    >
      <span class="tim-icons icon-bell-55" data-notify="icon"> </span>
      <span>
      <b> Ups! </b> Podróż Twojej przesyłki jeszcze się nie rozpoczęła!
    </span>
    </alert>
  <alert
      class="alert-with-icon"
      [type]="'danger alert-with-icon'"
      [dismissible]="true"
      *ngIf="isError"
  >
      <span class="tim-icons icon-support-17" data-notify="icon"> </span>
      <span>
      <b> Paczka nie znaleziona! - </b> Sprawdź numer przesyłki i spróbuj ponownie
          </span>
    </alert>
  </div>
  <div class="container" *ngIf="!isError">
    <div class="row text-center justify-content-center mb-5">
      <div class="col-xl-auto col-lg-8">
        <h2 class="font-weight-bold">Przesyłka: {{id}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
          <div class="timeline-step mb-0" *ngFor="let route of routes">
            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title=""
                 data-original-title="2003">
              <div class="inner-circle">{{route.user.depot.depotCode}}</div>
              <p class="text-white h6 mt-3 mb-1">{{route.user.depot.city}}</p>
              <p class="text-white h6 mt-3 mb-1">{{route.created}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
